@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Instrument Serif", serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}